<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="intent://details?id=com.youmusic.magictiles&url=http://www.yourmusic.com/magictiles&referrer=#Intent;scheme=market;action=android.intent.action.VIEW;package=com.android.vending;end">Link</a>