<html>
    <body>
        <form action="/labs/draw" method="POST">
            <div>
                <textarea name="code" rows="40">{{code}}</textarea>
            </div>                        

            <div>
                <textarea name="userdata" rows="10">{{userdata}}</textarea>
            </div>            

            <div>
                <button type="submit">DONE</button>
            </div>            
            <div>
                <img src="{{imageUrl}}" />
            </div>            
        </form>
    </body>
</html>