<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="al:android:url" content="{{androidAppUrl}}">
    <meta property="al:android:package" content="{{androidPackageName}}">
    <meta property="al:android:app_name" content="{{androidAppName}}">
    <meta property="al:ios:url" content="{{iosAppUrl}}">
    <meta property="al:ios:app_store_id" content="{{iosStoreId}}">
    <meta property="al:ios:app_name" content="{{gameTitle}}">
    <meta property="al:web:should_fallback" content="true">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{gameTitle}}">
    <meta property="og:image" content="{{imageUrl}}">
    <meta property="og:description" content="{{description}}">
    <meta property="fb:app_id" content="{{fbAppId}}">
    <meta property="og:url" content="{{shareLink}}">
    <meta name="twitter:card" content="summary">
    <title>{{gameTitle}}</title>
</head>
<body>
<script>
    var ua = navigator.userAgent;
    var lang = navigator.language.toLocaleLowerCase();
    var isWeChat = !!~ua.indexOf('MicroMessenger');
    var isChina = 'zh-cn' === lang;
    var isFacebook = -1 !== ua.indexOf('FBAV');

    if (isWeChat || (!isFacebook && isChina)) {        
        location.href="{{browserRedirectLink}}";        
    } else {
        var isIOS = !!(~ua.indexOf('iPhone') || ~ua.indexOf('iPad') || ~ua.indexOf('Mac') || ~ua.indexOf('iPod'));
        if (isIOS) {
            location.href = '{{iosRedirectLink}}';
        } else {
            location.href = '{{androidMarketLink}}';
            setTimeout(function () {
                location.href = '{{androidPlayStoreLink}}';
            }, 500);
        }
    }
</script>
</body>
</html>